extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3

    include ../../partials/list-btn-users.pug

    .row.mt-4
      .col-12
        +box-head("Danh sách phòng")

    .row.mb-3
      .col-12
        a(
          href="/rooms-chat/create"
          class="btn btn-sm btn-success mr-1"
        ) Tạo phòng chat

    .row(my-id=user.id)
      each room in listRoomChat
        .col-6(user-id=user.id room-chat-id=room.id)
          div(class="box-room position-relative")
            div(class="inner-avatar")
              img(
                src="https://robohash.org/hicveldicta.png"
                alt=room.title
              )
            div(class="inner-info")
              div(class="inner-name") #{room.title}
              div(class="inner-buttons")
                a(
                  href=`/chat/${room.id}`
                  class="btn btn-sm btn-primary mr-1"
                ) Nhắn tin
            if room.unseenChats > 0
              span(
                  class="badge-users-accept"
                  badge-users-accept=user.id
              ) #{room.unseenChats}