include ../mixins/sub-menu.pug

header.header(style='background: rgb(51, 51, 51);')
    .container
        .row.align-items-center
            .col-2
                .inner-logo
                    a(href="/")
                        img(src=settingsGeneral.logo, alt="Logo")
            .col-5
                form(
                    action="/search"
                    method="GET"
                ) 
                    div(class="form-group d-flex align-items-center mb-0")
                        input(
                            type="text"
                            placeholder="Nhập từ khóa..."
                            class="form-control"
                            name="keyword"
                            value=keyword
                        )
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) 
                            i.fa-solid.fa-magnifying-glass
            .col-5
                .inner-menu
                    ul
                        li(class="sub-menu")
                            -const pathProducts = "/products"
                            a(href=pathProducts style='color: white;') Sản phẩm
                            if (layoutProductCategories)
                                +sub-menu(layoutProductCategories, pathProducts)
                        li
                            a(href="/cart" style='color: white;') Giỏ hàng (#{miniCart ? miniCart.products.length : 0})
                        if (user)
                            li
                                a(href="/friends" style='color: white;') Bạn bè / Chat
                            li
                                a(href="/user/profile" style='color: white;') #{user.fullName}
                        else
                            li
                                a(href="/user/login" style='color: white;') Đăng nhập