.row
  .col-12
    a(
      class="btn btn-primary m-1"
      href="/friends"
    ) Danh sách bạn bè
    a(
      class="btn btn-primary m-1"
      href="/rooms-chat"
    ) Phòng chat
    a(
      class="btn btn-primary m-1"
      href="/friends/suggestions"
    ) Danh sách gợi ý
    a(
      class="btn btn-primary m-1"
      href="/friends/requests"
    ) Lời mời đã gửi
    a(
      class="btn btn-primary m-1 position-relative"
      href="/friends/accepts"
    )
      | Lời mời đã nhận
      span(
        class="badge-users-accept"
        badge-users-accept=user.id
      ) #{user.acceptFriends.length}