extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3

    include ../../partials/list-btn-users.pug

    .row.mt-4
      .col-12
        +box-head("Lời mời đã nhận")

    if (users.length === 0)
      .row(data-users-accept=user.id my-id=user.id)
        .col-12(text-no-users)
          p Không có lời mời nào
    else
      .row(data-users-accept=user.id my-id=user.id)
        each user in users
          .col-6(user-id=user.id)
            div(class="box-user")
              div(class="inner-avatar")
                a(href=`/user/${user.slug}`)
                  img(
                    src=(user.avatar || 'https://robohash.org/hicveldicta.png')
                    alt=user.fullName
                  )
              div(class="inner-info")
                a(href=`/user/${user.slug}`)
                  div(class="inner-name text-dark") #{user.fullName}
                div(class="inner-buttons")
                  button(
                    class="btn btn-sm btn-primary mr-1"
                    btn-accept-friend=user.id
                  ) Chấp nhận
                  button(
                    class="btn btn-sm btn-secondary ms-1"
                    btn-refuse-friend=user.id
                  ) Xóa
                  button(
                    class="btn btn-sm btn-secondary mr-1"
                    btn-deleted-friend
                    disabled
                  ) Đã xóa
                  button(
                    class="btn btn-sm btn-primary mr-1"
                    btn-accepted-friend
                    disabled
                  ) Đã chấp nhận
  block scripts
    script(type='module' src='/js/friend.js')