extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3

    include ../../partials/list-btn-users.pug

    .row.mt-4
      .col-12
        +box-head("Danh sách bạn bè")

    .row(data-users-friend=user.id my-id=user.id)
      each user in users
          .col-6(user-id=user.id room-chat-id=user.room_chat_id unseen-chats=user.unseenChats)
            div(class="box-user")
              div(class="inner-avatar")
                a(href=`/user/${user.slug}`)
                  img(
                    src=(user.avatar || 'https://robohash.org/hicveldicta.png')
                    alt=user.fullName
                  )
              div(class="inner-info")
                a(href=`/user/${user.slug}`)
                  div(class="inner-name text-dark") #{user.fullName}
                div(class="inner-buttons")
                  a(
                    href=`/chat/${user.room_chat_id}`
                    class="btn btn-sm btn-primary mr-1"
                  ) Nhắn tin
                div(
                  class="inner-status"
                  status=user.statusOnline
                ) <i class="fa-solid fa-circle"></i> #{user.statusOnline == 'online' ? 'Online' : 'Offline'}
              if user.unseenChats > 0
                span(
                  class="badge-users-accept"
                  badge-users-accept=user.id
                ) #{user.unseenChats}
              
  block scripts
    script(type='module' src='/js/friend.js')