mixin product-item(item)
    .col-4.mb-3
        .product-item
            .inner-image
                a(href=`/products/detail/${item.slug}`)
                    img(src=item.thumbnail, alt=item.title)
                if (item.featured == true)
                    .inner-featured Nổi bật
            .inner-content
                h3.inner-title
                    a(href=`/products/detail/${item.slug}`) #{item.title}
                .inner-price-new
                    +formatPrice(item.priceNew)
                if(item.discountPercentage > 0)
                    .inner-price-old
                        +formatPrice(item.price)
                    .inner-discount -#{item.discountPercentage}%