extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container
    .row
      .col-12
        .block-container
            .memberHeader.memberHeader--withBanner
                .memberProfileBanner.memberHeader-main.memberProfileBanner-u9-l(data-toggle-class='memberHeader--withBanner' style='background-image: url(/images/bg.jpg); background-position-y: 60%;')
                    .memberHeader-mainContent
                        span.memberHeader-avatar
                            span.avatarWrapper
                                .avatar-border-profile-4
                                    a.avatar.avatar--l(href='#' data-user-id='9')
                                        img.avatar-u9-l(src=(infoUser.avatar || 'https://robohash.org/hicveldicta.png') alt=infoUser.fullName width='192' height='192')
                        .memberHeader-content.memberHeader-content--info
                            h1.memberHeader-name 
                                span.memberHeader-nameWrapper
                                    span.username(dir="auto")
                                        span.username--style4.username--moderator #{infoUser.fullName}
                            .memberHeader-banners
                                em.userBanner.userBanner.userBanner--green
                                    span.userBanner-before
                                    strong Thành viên cấp cao
                                    span.userBanner-after
                .memberHeader-content
                    .memberHeader-stats
                        .pairJustifier
                            dl.pairs.pairs--rows.pairs--rows--centered.fauxBlockLink
                                dt Bài viết
                                dd 0
                            dl.pairs.pairs--rows.pairs--rows--centered.fauxBlockLink
                                dt Bạn bè
                                dd #{infoUser.friendsList.length}
                            dl.pairs.pairs--rows.pairs--rows--centered.fauxBlockLink
                                dt Ảnh
                                dd 0
                            dl.pairs.pairs--rows.pairs--rows--centered.fauxBlockLink
                                dt Danh hiệu
                                dd 1
                            dl.pairs.pairs--rows.pairs--rows--centered.fauxBlockLink
                                dt Donated
                                dd 0
                            dl.pairs.pairs--rows.pairs--rows--centered.fauxBlockLink
                                dt Level
                                dd 0
                    .memberHeader-separator
                    .uix_memberHeader__extra
                        .memberHeader-blurb
                            dl.pairs.pairs--inline
                                dt Tham gia: 
                                dd
                                    time(title='') #{moment(time).format("DD/MM/YY")}
                        .memberHeader-blurb
                            dl.pairs.pairs--inline
                                dt Email: 
                                dd.afEmail #{infoUser.email}
                        .memberHeader-buttons
                            .buttonGroup
                                if (user.id == infoUser.id)
                                    a(class="btn button button--link rippleButton"
                                        btn-add-friend=user.id
                                    ) Kết bạn
                                    a(href="/user/profile/edit" class="btn btn-primary ms-3") Chỉnh sửa thông tin
                                    a(href="/user/logout" class="btn btn-dark ms-3") Đăng xuất
    
    
        